body {
    background-color: #EEE;
}

#left{
    float: left;
    width: 50%;
    text-align: right;
}
#right{
    float: right;
    width: 50%;
    text-align: right;
}



#graph_gop .choice {
    float: left;
    width: 25%;
    font-family: arial;
    font-size: 1.5em;
    text-align: right;
    margin: 8px 5px;
}
#graph_gop .bar {
    width: 0;
    height: 35px;
    background-color: red;
    margin: 5px;
    float: left;
}
#graph_dnc .choice {
    float: left;
    width: 25%;
    font-family: arial;
    font-size: 1.5em;
    text-align: right;
    margin: 8px 5px;
}
#graph_dnc .bar {
    width: 0;
    height: 35px;
    background-color: blue;

#graph .choice {
    float: left;
    font-family: arial;
    font-size: 1.5em;
    min-width: 200px;
    text-align: right;
    margin: 8px 5px;
}
#graph .bar {
    width: 0;
    height: 35px;
    background-color: blue;
    margin: 5px;
    float: left;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}